@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    font-size: 12px;
    &__container {
        max-width: 1250px;
        padding-inline: 15px;
        &__logo {
            img {
                max-width: 150px;
                max-height: 50px;
            }
        }
        &__menu{
            &__buttons {
                &__signup {
                    color:#6d6d6d;

                    &:hover {
                        color: #ff4757;
                    }
                }
                
                &__svg-container {
                    padding: 8px;
                    border-radius: 50%;
                    &:hover {
                        background-color: #efefef;
                    }

                }
                svg {
                    color: #667378;
                }
            }
        }
    }
    
}