@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    font-size: 12px;
    &__container {
        max-width: 1250px;
        padding-inline: 15px;
        &__logo {
            img {
                max-width: 150px;
                max-height: 50px;
            }
        }
        &__menu{
            &__buttons {
                &__signup {
                    color:#6d6d6d;

                    &:hover {
                        color: #ff4757;
                    }
                }
                
                &__svg-container {
                    padding: 8px;
                    border-radius: 50%;
                    &:hover {
                        background-color: #efefef;
                    }

                }
                svg {
                    color: #667378;
                }
            }
        }
    }
    
}

.gallery {
    max-width: 1250px;
    &__item {
        img {
            max-width: 300px;
            max-height: 160px;
            object-fit: cover;
        }

        &:hover {
            .gallery__item__info {
                display: flex;
                opacity: 1;
            }
        }

        &__info {
            background-color: rgba(15,15,15,.801);
            color: #fff;
            display: flex;
            align-items: start;
            direction: rtl;
            flex-direction: column;
            padding: 15px;
            gap: 8px;
            opacity: 0;
            transition: all .2s ease-in-out;

            &:hover {
                cursor: pointer;
            }

            h2 {
                font-size: 15px;
                font-weight: 700;
            }

            p {
                font-size: 11px;
            }
        }
    }
}